@page "/administration"
@inject NavigationManager navManager;
@inject IUserService userService;
@inject IRoadmapService roadmapService;
@inject IRoadmapVotingService votingService;
@inject IComentarioService comentarioService;
@inject IDenunciaService denunciaService;

@if (IsInitialized)
{
	<div class="administration-button-div">
		<button @onclick="ToggleShowDenuncias" class="second-style-button">
			Denuncias
		</button>

		<button @onclick="ToggleShowRoadmapsToApprove" class="second-style-button">
			Roadmaps
		</button>
	</div>

	if (showDenuncias)
	{
		<div class="text-center h4 my-5">
			Denuncias
		</div>
		<Virtualize Items="@Denuncias" Context="denuncia" OverscanCount="50">
			<div class="denuncias-div">
				<div class="denuncia-type">
					@denuncia.Type
				</div>
				<div class="denuncia-description">
					@denuncia.Description
				</div>
				<div class="denuncia-date">
					Criada em: @denuncia.CreatedDate
				</div>
				@if (denuncia.Type == "Roadmap")
				{
					<div class="text-center my-4">
						<a href="/roadmapdetails/@denuncia.RoadmapId" class="second-style-button">
							Roadmap
						</a>
					</div>
				}
				else if (denuncia.Type == "User")
				{
					<div class="text-center my-4">
						<a href="/profile/@denuncia.Username" class="second-style-button">
							Usuario
						</a>
					</div>
				}
				else if (denuncia.Type == "Comment")
				{
					<DisplayComment CommentId="@denuncia.CommentId" />
				}
				<div class="text-center">
					<div>
						<button class="second-style-button" @onclick=ToggleShowExcluirDenuncia>
							Excluir
						</button>
					</div>
					@if (showExcluirDenuncia)
					{
						<div>
							<button class="second-style-button" @onclick="async () => await DeleteDenuncia(denuncia.Id)">
								Confirmar
							</button>
						</div>
					}
				</div>
			</div>
		</Virtualize>
	}

	if (showRoadmapsToApprove)
	{
		@if (Roadmaps is not null)
		{
			<div class="text-center h4 my-5">
				Roadmaps
			</div>
			<Virtualize Items="@Roadmaps" Context="roadmap" OverscanCount="50">
				<div class="roadmap-div">
					<a class="roadmap-name-label" href="roadmapdetails/@roadmap.Id">
						<p class="roadmap-name-background">@roadmap.Name</p>
					</a>

					<div class="roadmap-description">
						<p>@roadmap.Description</p>
					</div>

					<div>
						<div class="display-flex">
							<div class="roadmap-category-label">
								<p>Categoria:</p>
							</div>
							<div class="roadmap-category">
								@roadmap.Category
							</div>
						</div>
					</div>

					<div class="roadmap-date-author-div">
						<div class="display-flex">
							<div class="roadmap-created-label">
								<p>Criado:</p>
							</div>
							<div>
								@roadmap.CreatedDate
							</div>
						</div>

						<div class="roadmap-author-div">
							<div class="roadmap-author-label">
								<p>Autor: </p>
							</div>
							<a class="roadmap-author" href="profile/@roadmap.AuthorName">
								@roadmap.AuthorName
							</a>
						</div>
					</div>
				</div>

				<div class="administration-button-div">
					<button class="second-style-button"
				@onclick="async () => await ApproveRoadmap(roadmap)">
						Aprovar
					</button>


					<button @onclick="ToggleShowDeletePage" class="second-style-button">
						Excluir
					</button>
				</div>

				@if (showDeletePage)
				{
					<AdminDeleteRoadmapConfirmation RoadmapId="@roadmap.Id.ToString()" />
				}
			</Virtualize>
		}
		else
		{
			<div class="text-center">
				Não há nada aqui
			</div>
		}
	}

}

@code {
	private Guid? LoggedInUserId;
	private IList<RoadmapClassModel>? Roadmaps;
	private IList<ComentarioModel>? Comentarios;
	private IList<DenunciaModel>? Denuncias;
	private UserModel? LoggedInUserModel;
	private ComentarioModel? Comentario;
	private bool IsInitialized = false;
	private bool showDeletePage = false;
	private bool showRoadmapsToApprove = false;
	private bool showDenuncias = false;
	private bool showExcluirDenuncia = false;

	protected override async Task OnInitializedAsync()
	{
		await PageVerification();
	}

	private async Task<bool> PageVerification()
	{
		LoggedInUserId = await userService.GetLoggedInUserId();

		if (LoggedInUserId == Guid.Empty)
		{
			navManager.NavigateTo("/notfound");

			return false;
		}

		LoggedInUserModel = await userService.GetUserById(LoggedInUserId);

		if (LoggedInUserModel is null)
		{
			navManager.NavigateTo("/notfound");

			return false;
		}

		if (LoggedInUserModel!.IsAdmin is not true)
		{
			navManager.NavigateTo("/notfound");

			return false;
		}

		await GetAllNotApprovedRoadmaps();

		IsInitialized = true;

		return true;
	}

	private async Task GetAllNotApprovedRoadmaps()
	{
		Roadmaps = await roadmapService.GetAllNotApprovedRoadmaps();
	}

	private async Task ApproveRoadmap(RoadmapClassModel roadmap)
	{
		roadmap.IsApproved = true;

		await roadmapService.UpdateRoadmap(roadmap);
		await GetAllNotApprovedRoadmaps();
	}

	private async Task DeleteDenuncia(Guid denunciaId)
	{
		await denunciaService.DeleteDenuncia(denunciaId);

		var denuncias = await denunciaService.GetAllDenuncias();

		if (denuncias is not null)
		{
			Denuncias = denuncias.OrderBy(x => x.CreatedDate).ToList();
		}
	}

	private async Task ToggleShowRoadmapsToApprove()
	{
		showRoadmapsToApprove = !showRoadmapsToApprove;
		await GetAllNotApprovedRoadmaps();
	}

	private void ToggleShowDeletePage()
	{
		showDeletePage = !showDeletePage;
	}

	private async Task ToggleShowDenuncias()
	{
		showDenuncias = !showDenuncias;
		var denuncias = await denunciaService.GetAllDenuncias();

		if (denuncias is not null)
		{
			Denuncias = denuncias.OrderBy(x => x.CreatedDate).ToList();
		}
	}

	private void ToggleShowExcluirDenuncia()
	{
		showExcluirDenuncia = !showExcluirDenuncia;
	}
}