@page "/roadmapdetails/{roadmapid}"
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navManager
@inject IUserService userService
@inject INodeService nodeService
@inject IRoadmapService roadmapService
@inject IComentarioService comentarioService
@inject IComentarioVotingService comentarioVotingService
@inject IRoadmapVotingService roadmapVotingService
@inject IRoadmapVotesService roadmapVotesService

@if (isInitialized)
{
	@if (Roadmap is not null)
	{
		<div>
			<div class="roadmap-details-name-category-div">
				<div>
					@Roadmap.Name
				</div>

				<div>
					@Roadmap.Category
				</div>
			</div>
			<div class="roadmap-details-description-div">
				@Roadmap.Description
			</div>
		</div>

		<div class="nodes-box">
			@if(Nodes is not null)
			{
				@foreach (var node in Nodes)
				{
					<div class="node-button-div">
						<button class="node-button">
							@node.Name
						</button>
						@if (editMode)
						{
							<button class="delete-roadmap-button"
							@onclick="async () => await DeleteNode(node.Id)">
								X
							</button>
						}
					</div>

					<div class="node-arrow-icon-div">
						<i class="fa-solid fa-arrow-down" id="arrow-icon"></i>
					</div>
				}
				<button class="node-button">
					Fim
				</button>
			}
			else
			{
				<div>
					Não existe nenhum conteudo nesse roadmap ainda.
				</div>
			}

			@if (Roadmap.UserId == LoggedInUserId)
			{
				<EditForm Model="@Node" OnValidSubmit="CreateNode" class="" Context="NodeForm">
					<div class="node-input-text-div">
						<label for="titulo" class="visually-hidden">Titulo</label>
						<div>
							<InputText id="text-input" class="node-name-input-text" @bind-Value="Node.Name" placeholder="Nome" />
						</div>
					</div>

					<div class="button-div">
						<button type="submit" class="first-style-button" id="adicionar-node-button"
						onclick="clearInput()">Adicionar</button>
					</div>
				</EditForm>
			}
		</div>

		<div class="roadmap-details-vote-button">
			<div onclick="toggleVoteButtonDetailsClass(this.querySelector('button'))">
				<button class="@Roadmap.RoadmapHtmlClass" id="roadmap-vote-button"
				@onclick="async () => await AddUserVoteOnRoadmap(Roadmap.Id)">
					<span id="vote-count">@Roadmap.RoadmapTotalVotes</span>
					<div class="vote-icon"><i class="fas fa-caret-up"></i></div>
					Vote
				</button>
			</div>
		</div>

		<div class="roadmap-manage-buttons-div">
			@if (Roadmap.UserId == LoggedInUserId || LoggedInUserModel!.IsAdmin == "1")
			{
				@if (LoggedInUserModel!.IsAdmin is null)
				{
					<div>
						<a href="deleteroadmapconfirmation/@Roadmap.Id" class="first-style-button"
						   id="roadmap-details-management-button">
							Excluir Roadmap
						</a>
					</div>
				}
				else if (LoggedInUserModel.IsAdmin == "1")
				{
					<div>
						<a href="admindeleteroadmapconfirmation/@Roadmap.Id" class="first-style-button"
						   id="roadmap-details-management-button">
							Excluir Roadmap
						</a>
					</div>
				}

				<div>
					<button @onclick="async () => await ToggleEditMode()" id="roadmap-details-management-button"
					class="first-style-button">
						Editar
					</button>
				</div>
			}
		</div>

		<EditForm Model="@Comentario" OnValidSubmit="CommentOnRoadmap" Context="ComentarioForm">
			<div>
				<InputTextArea id="comment" class="roadmap-details-comentario-text-area" @bind-Value="Comentario.Descricao"
				placeholder="Adicione um comentario (Maximo 1000 caracteres)" />
			</div>
			<div class="button-div">
				<button type="submit" class="first-style-button">Comentar</button>
			</div>
		</EditForm>


		<Virtualize Items="@Comentarios" Context="comentario" OverscanCount="50">
			<div class="roadmap-details-comentario-box">
				<a class="roadmap-details-author" href="/profile/@comentario.AuthorId">
					@comentario.Author
				</a>
				<div class="roadmap-details-comentario-descricao-button-div">
					<div>
						<div class="roadmap-details-comentario">
							@comentario.Descricao
						</div>
						<div class="roadmap-details-createddate">
							@comentario.CreatedDate
						</div>
					</div>
					<div onclick="toggleComentarioVoteButtonClass(this.querySelector('button'))">
						<button class="@comentario.ComentarioHtmlClass" id="roadmap-vote-button"
						@onclick="async () => await AddUserVoteOnComentario(comentario.Id)">
							<span id="vote-count">@comentario.ComentarioTotalVotes</span>
							<div class="vote-icon"><i class="fas fa-caret-up"></i></div>
							Vote
						</button>
					</div>
					<div>
						@if (comentario.AuthorId == LoggedInUserId || LoggedInUserModel.IsAdmin == "1")
						{
							<button @onclick="async () => await DeleteComment(comentario.Id)"
								class="delete-comment-button">
								Excluir
							</button>
						}
					</div>
				</div>
			</div>
		</Virtualize>
	}
}

@code {
	[Parameter]
	public string? RoadmapId { get; set; }
	private Guid? LoggedInUserId { get; set; }
	private RoadmapClassModel? Roadmap { get; set; }
	private UserModel? LoggedInUserModel { get; set; }
	private IList<ComentarioModel>? Comentarios { get; set; }
	private ComentarioModel? Comentario = new();
	private IList<NodeModel>? Nodes { get; set; }
	private NodeModel? Node = new();
	private bool editMode = false;
	private bool isInitialized = false;

	protected override async Task OnInitializedAsync()
	{
		LoggedInUserId = await userService.GetLoggedInUserId();

		if (LoggedInUserId == Guid.Empty)
		{
			navManager.NavigateTo("/login");
		}

		await GetRoadmapById(new Guid(RoadmapId!));

		if (RoadmapId == Guid.Empty.ToString())
		{
			navManager.NavigateTo("/");
		}
		await GetLoggedInUserModel();
		await GetAllComentarios();
		await GetAllNodes();

		string roadmapClass = await roadmapVotingService.GetButtonColor(Roadmap!.Id, LoggedInUserId);
		Roadmap!.RoadmapHtmlClass = roadmapClass;

		int roadmapTotalVotes = await roadmapVotingService.GetRoadmapVotes(Roadmap.Id);
		Roadmap.RoadmapTotalVotes = roadmapTotalVotes;

		foreach (var comentario in Comentarios!)
		{
			string comentarioClass = await comentarioVotingService.GetButtonColor(comentario.Id, LoggedInUserId);
			comentario.ComentarioHtmlClass = comentarioClass;

			int comentarioTotalVotes = await comentarioVotingService.GetComentarioVotes(comentario.Id);
			comentario.ComentarioTotalVotes = comentarioTotalVotes;
		}

		isInitialized = true;
	}

	protected override async Task OnParametersSetAsync()
	{
		LoggedInUserId = await userService.GetLoggedInUserId();

		string roadmapClass = await GetButtonColorDetails(Roadmap!.Id, LoggedInUserId);
		Roadmap!.RoadmapHtmlClass = roadmapClass;

		int roadmapTotalVotes = await roadmapVotingService.GetRoadmapVotes(Roadmap.Id);
		Roadmap.RoadmapTotalVotes = roadmapTotalVotes;
	}

	private async Task GetRoadmapById(Guid roadmapId)
	{
		Roadmap = await roadmapService.GetRoadmapById(roadmapId);
	}

	public async Task<string> GetButtonColorDetails(Guid roadmapId, Guid? loggedInUserId)
	{
		var roadmapVotes = await roadmapVotesService.GetAllRoadmapVotes();

		var votedRoadmapId = roadmapVotes!
			.Where(x => x.UserId == loggedInUserId && x.RoadmapId == roadmapId)
			.Select(x => x.Id).FirstOrDefault();

		if (votedRoadmapId == Guid.Empty)
		{
			return "vote-button-details";

		}
		else
		{
			return "vote-button-voted-details";
		}
	}

	private async Task GetLoggedInUserModel()
	{
		LoggedInUserModel = await userService.GetUserById(LoggedInUserId);
	}

	private async Task GetAllComentarios()
	{
		var comentarios = await comentarioService.GetAllComentarios();

		Comentarios = comentarios.Where(x => x.RoadmapId.ToString() == RoadmapId).ToList();

		var users = await userService.GetAllUsers();

		foreach (var comentario in Comentarios)
		{
			foreach (var user in users)
			{
				if (user.Id == comentario.UserId)
				{
					comentario.Author = user.Username;
					comentario.AuthorId = user.Id;
				}
			}
		}
	}

	private async Task CommentOnRoadmap()
	{
		Comentario.RoadmapId = new Guid(RoadmapId!);
		Comentario.UserId = LoggedInUserId;
		await comentarioService.CreateComentario(Comentario);

		await GetAllComentarios();
	}

	private async Task DeleteComment(Guid comentarioId)
	{
		await comentarioService.DeleteComentario(comentarioId);

		await GetAllComentarios();
	}

	private async Task CreateNode()
	{
		Node.RoadmapId = new Guid(RoadmapId);
		await nodeService.CreateNode(Node);

		await GetAllNodes();
	}

	private async Task GetAllNodes()
	{
		var nodes = await nodeService.GetAllNodes(new Guid(RoadmapId));

		if (nodes is not null)
		{
			Nodes = nodes.OrderBy(x => x.CreatedDate).ToList();
		}
	}

	private async Task DeleteNode(Guid nodeId)
	{
		await nodeService.DeleteNode(nodeId);
		await GetAllNodes();
	}

	private async Task<bool> ToggleEditMode()
	{
		if (editMode is true)
		{
			editMode = false;

			return editMode;
		}

		editMode = true;

		return editMode;
	}

	private async Task AddUserVoteOnRoadmap(Guid roadmapId)
	{
		await roadmapVotingService.AddUserVote(roadmapId, LoggedInUserId);

		await OnInitializedAsync();
	}

	private async Task AddUserVoteOnComentario(Guid comentarioId)
	{
		await comentarioVotingService.AddUserVote(comentarioId, LoggedInUserId);

		await OnInitializedAsync();
	}
}
