@page "/roadmapdetails/{roadmapid}"
@inject IRoadmapService roadmapService
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navManager
@inject IUserService userService
@inject IVotingService votingService
@inject IRoadmapVotesService roadmapVotesService

@if (isInitialized)
{
	@if (Roadmap is not null)
	{
		<div>
			<div class="roadmap-details-name-category-div">
				<div>
					@Roadmap.Name
				</div>

				<div>
					@Roadmap.Category
				</div>
			</div>
			<div class="roadmap-details-description-div">
				@Roadmap.Description
			</div>
		</div>

		<div>
			Parte onde vai ficar o roadmap nodes
		</div>

		<div class="roadmap-details-vote-button">
			<div onclick="toggleVoteButtonDetailsClass(this.querySelector('button'))">
				<button class="@Roadmap.RoadmapHtmlClass" id="roadmap-vote-button"
			@onclick="async () => await votingService.AddUserVote(Roadmap.Id, LoggedInUserId)">
					<span id="vote-count">@Roadmap.RoadmapTotalVotes</span>
					<div class="vote-icon"><i class="fas fa-caret-up"></i></div>
					Vote
				</button>
			</div>
		</div>

		@if (Roadmap.UserId == LoggedInUserId)
		{
			<div>
				<button>Excluir Roadmap</button>
			</div>
		}

	}
}

@code {
	[Parameter]
	public string? RoadmapId { get; set; }
	public Guid? LoggedInUserId { get; set; }
	public RoadmapClassModel? Roadmap { get; set; }
	public UserModel? User { get; set; }
	bool isInitialized = false;

	const string DefaultProfilePicture = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png";

	protected override async Task OnInitializedAsync()
	{
		LoggedInUserId = await votingService.GetLoggedInUserId();

		if (LoggedInUserId is null)
		{
			navManager.NavigateTo("login");
		}

		await GetRoadmapById(new Guid(RoadmapId!));

		string roadmapClass = await votingService.GetButtonColor(Roadmap!.Id, LoggedInUserId);
		Roadmap!.RoadmapHtmlClass = roadmapClass;

		int roadmapTotalVotes = await votingService.GetRoadmapVotes(Roadmap.Id);
		Roadmap.RoadmapTotalVotes = roadmapTotalVotes;


		isInitialized = true;
	}

	protected override async Task OnParametersSetAsync()
	{
		LoggedInUserId = await votingService.GetLoggedInUserId();

		string roadmapClass = await GetButtonColorDetails(Roadmap!.Id, LoggedInUserId);
		Roadmap!.RoadmapHtmlClass = roadmapClass;

		int roadmapTotalVotes = await votingService.GetRoadmapVotes(Roadmap.Id);
		Roadmap.RoadmapTotalVotes = roadmapTotalVotes;
	}

	private async Task GetRoadmapById(Guid roadmapId)
	{
		Roadmap = await roadmapService.GetRoadmapById(roadmapId);
	}

	public async Task<string> GetButtonColorDetails(Guid roadmapId, Guid? loggedInUserId)
	{
		var result = await VerifiyIfUserVotedOnRoadmap(roadmapId, loggedInUserId);

		if (result is true)
		{
			return "vote-button-voted-details";
		}

		return "vote-button-details";
	}

	private async Task<bool> VerifiyIfUserVotedOnRoadmap(Guid roadmapId, Guid? loggedInUserId)
	{
		if (loggedInUserId.ToString() is not null)
		{
			var roadmaps = await GetAllRoadmapsUserVoted(loggedInUserId);

			foreach (var roadmap in roadmaps)
			{
				if (roadmap.RoadmapId == roadmapId)
				{
					return true;
				}
			}
			return false;
		}

		return false;
	}

	private async Task<IList<RoadmapVotesModel>> GetAllRoadmapsUserVoted(Guid? loggedInUserId)
	{
		var roadmaps = await roadmapVotesService.GetAllRoadmapsUserVoted(loggedInUserId);

		return roadmaps!;
	}
}
