@page "/roadmapdetails/{roadmapid}"
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navManager
@inject IUserService userService
@inject IRoadmapService roadmapService
@inject IComentarioService comentarioService
@inject IVotingService votingService
@inject IRoadmapVotesService roadmapVotesService

@if (isInitialized)
{
	@if (Roadmap is not null)
	{
		<div>
			<div class="roadmap-details-name-category-div">
				<div>
					@Roadmap.Name
				</div>

				<div>
					@Roadmap.Category
				</div>
			</div>
			<div class="roadmap-details-description-div">
				@Roadmap.Description
			</div>
		</div>

		<div>
			Parte onde vai ficar o roadmap nodes
		</div>

		<div class="roadmap-details-vote-button">
			<div onclick="toggleVoteButtonDetailsClass(this.querySelector('button'))">
				<button class="@Roadmap.RoadmapHtmlClass" id="roadmap-vote-button"
			@onclick="async () => await votingService.AddUserVote(Roadmap.Id, LoggedInUserId)">
					<span id="vote-count">@Roadmap.RoadmapTotalVotes</span>
					<div class="vote-icon"><i class="fas fa-caret-up"></i></div>
					Vote
				</button>
			</div>
		</div>

		@if (Roadmap.UserId == LoggedInUserId)
		{
			<div class="roadmap-details-excluir-button-div">
				<a href="deleteroadmapconfirmation/@Roadmap.Id" class="first-style-button">
					Excluir Roadmap
				</a>
			</div>
		}

		@if (LoggedInUserModel.IsAdmin == "1")
		{
			<div class="roadmap-details-excluir-button-div">
				<a href="admindeleteroadmapconfirmation/@Roadmap.Id" class="first-style-button">
					Excluir Roadmap Como Admin
				</a>
			</div>
		}

		<EditForm OnValidSubmit="CommentOnRoadmap" class="" Context="ComentForm">
			<div>
				<InputTextArea id="comment" class="form-input-text-description" @bind-Value="Comentario.Comentario"
				placeholder="Digite aqui para comentar no roadmap (Maximo 1000 caracteres)" />
			</div>
			<div class="button-div">
				<button type="submit" class="first-style-button">Comentar</button>
			</div>
		</EditForm>


		<Virtualize Items="@Comentarios" Context="comentario" OverscanCount="50">
			<div>
				<div>
					@comentario.Author
				</div>
				<div>
					@comentario.Comentario
				</div>
				<div>
					@comentario.CreatedDate
				</div>
			</div>
		</Virtualize>
	}
}

@code {
	[Parameter]
	public string? RoadmapId { get; set; }
	private Guid? LoggedInUserId { get; set; }
	private RoadmapClassModel? Roadmap { get; set; }
	private UserModel? LoggedInUserModel { get; set; }
	private IList<ComentarioModel>? Comentarios { get; set; }
	private ComentarioModel? Comentario { get; set; }
	bool isInitialized = false;

	const string DefaultProfilePicture = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png";

	protected override async Task OnInitializedAsync()
	{
		LoggedInUserId = await votingService.GetLoggedInUserId();

		if (LoggedInUserId is null)
		{
			navManager.NavigateTo("login");
		}

		await GetRoadmapById(new Guid(RoadmapId!));
		await GetLoggedInUserModel();
		await GetAllComentarios();

		string roadmapClass = await votingService.GetButtonColor(Roadmap.Id, LoggedInUserId);
		Roadmap!.RoadmapHtmlClass = roadmapClass;

		int roadmapTotalVotes = await votingService.GetRoadmapVotes(Roadmap.Id);
		Roadmap.RoadmapTotalVotes = roadmapTotalVotes;


		isInitialized = true;
	}

	protected override async Task OnParametersSetAsync()
	{
		LoggedInUserId = await votingService.GetLoggedInUserId();

		string roadmapClass = await GetButtonColorDetails(Roadmap!.Id, LoggedInUserId);
		Roadmap!.RoadmapHtmlClass = roadmapClass;

		int roadmapTotalVotes = await votingService.GetRoadmapVotes(Roadmap.Id);
		Roadmap.RoadmapTotalVotes = roadmapTotalVotes;
	}

	private async Task GetRoadmapById(Guid roadmapId)
	{
		Roadmap = await roadmapService.GetRoadmapById(roadmapId);
	}

	public async Task<string> GetButtonColorDetails(Guid roadmapId, Guid? loggedInUserId)
	{
		var roadmapVotes = await roadmapVotesService.GetAllRoadmapVotes();

		var votedRoadmapId = roadmapVotes!
			.Where(x => x.UserId == loggedInUserId && x.RoadmapId == roadmapId)
			.Select(x => x.Id).FirstOrDefault();

		if (votedRoadmapId == Guid.Empty)
		{
			return "vote-button-details";

		}
		else
		{
			return "vote-button-voted-details";
		}
	}

	private async Task GetLoggedInUserModel()
	{
		LoggedInUserModel = await userService.GetUserById(LoggedInUserId);
	}

	private async Task GetAllComentarios()
	{
		var comentarios = await comentarioService.GetAllComentarios();

		Comentarios = comentarios.Where(x => x.RoadmapId.ToString() == RoadmapId).ToList();

		var users = await userService.GetAllUsers();

		foreach (var comentario in Comentarios)
		{
			foreach (var user in users)
			{
				if (user.Id == comentario.UserId)
				{
					comentario.Author = user.Username;
				}
			}
		}
	}

	private async Task CommentOnRoadmap()
	{
		Comentario.UserId = LoggedInUserId;
		await comentarioService.CreateComentario(Comentario);
	}
}
